{{ define "header" }}

{{ $titleFg := .Params.Hero.TitleFg }}
{{ if or (eq $titleFg "") (eq $titleFg nil) }}
  {{ $titleFg = "dark" }}
{{ end }}

{{ $page := . }}
{{ $heroImageUrl := .Params.Hero.Image.Url }}
{{ if or (eq $heroImageUrl nil) (eq $heroImageUrl "") }}
  {{ $heroImageUrl = .Params.FeatureImg.Url }}
{{ end }}
<section class="hero mb-6 is-halfheight is-full-bg-image" style="background-image: url({{ $heroImageUrl | relURL }});">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {{ partial "nav/nav.html" . }}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body container">
    <div class="columns is-vcentered my-6">
      <div class="column is-one-third">
        <figure class="image mx-6">
          <img class="is-rounded" src="{{ .Page.Params.FeatureImg.Url | relURL }}">
        </figure>
      </div>
      <div class="column mx-6">
        <h1 class="title has-text-{{ $titleFg }}">{{ .Title }}</h1>
        <p class="subtitle has-text-{{ $titleFg }}">{{ .Params.Subtitle }}</p>
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            {{ range .Site.Data.social.social.social }}
            <a href="{{ .link }}" class="level-item is-underline-link has-hover-text-{{ $titleFg }}">{{ .name }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
<div class="markdown my-6">
  {{ .Content }}
</div>

<hr class="my-6">

<h2 class="subtitle is-3" id="most-recent-posts"><a href="#most-recent-posts">#</a> Most Recent Blog Posts</h2>

{{ range first 3 (where .Site.RegularPages "Type" "blog") }}
  {{ partial "post/post-tile.html" . }}
{{ end }}

<hr class="my-6">

<h2 class="subtitle is-3" id="most-recent-shorts"><a href="#most-recent-shorts">#</a> Most Recent Quick Tips</h2>

<div class="columns is-centered is-multiline">
{{ range first 3 (where .Site.RegularPages "Type" "tips") }}
  {{ partial "tips/tips-tile.html" . }}
{{ end }}
</div>

{{ end }}
