{{ define "main" }}
<div class="markdown mb-6">
{{ .Content }}
</div>

<div class="columns is-centered is-multiline">
{{ range where (.Paginator 6).Pages "Type" "tips" }}
  {{ partial "tips/tips-tile.html" . }}
{{ end }}
</div>

<hr>

{{ partial "nav/paginator.html" . }}

{{ end }}
