<a class="column is-4" href="{{ .Permalink }}">
  <div class="card">
    <div class="card-image">
      <figure class="mx-2 image is-16by9">
        <img class="mt-2" src="{{ if .Params.FeatureImg.Thumb }}{{ .Params.FeatureImg.Thumb | relURL }}{{ else }}{{ .Params.FeatureImg.Url | relURL }}{{ end }}" alt="{{ .Params.FeatureImg.Alt}}">
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content my-2">
        <p class="subtitle is-5">{{ .Title }}</p>
      </div>
    </div>
  </div>
</a>
