
<div class="columns is-centered">
  {{ range .Site.Data.social.social.social }}
  <div class="column is-centered is-1">
    <a href="{{ .link }}" class="level-item">{{ .name }}</a>
  </div>
  {{ end }}
</div>
