{{ $title := .Site.Title }}
{{ if (and (and (ne .Page.Title nil) (ne .Page.Title "")) (not .Page.Params.HideTitleInHead)) }}
  {{ $title = (printf "%v | %v" .Page.Title $title) }}
{{ end }}

{{ $description := .Page.Description }}
{{ if or (eq $description nil) (eq $description "") }}
  {{ $description = .Page.Summary }}
{{ end }}

{{ $author := .Page.Params.Author }}
{{ if or (eq $author nil) (eq $author "") }}
  {{ $author = .Site.Params.Author }}
{{ end }}

{{ $locale := .Page.Params.Locale }}
{{ if or (eq $locale nil) (eq $locale "") }}
  {{ $locale = .Site.Params.Locale }}
{{ end }}

{{ $canonical := .Page.Params.Canonical }}
{{ if or (eq $canonical nil) (eq $canonical "") }}
  {{ $canonical = .Page.Permalink }}
{{ end }}

{{ $image := .Page.Params.FeatureImg.Url }}

{{ $robots := "index,follow" }}
{{ if and (ne .Page.Params.Robots nil) (ne .Page.Params.Robots "") }}
  {{ $robots = .Page.Params.Robots }}
{{ end }}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ $title }}</title>
<meta property="og:title" content="{{ $title }}">
<meta property="twitter:title" content="{{ $title }}">
<meta name="author" content="{{ $author }}">
<meta property="og:locale" content="{{ $locale }}">
<meta name="description" content="{{ $description }}">
<meta property="og:description" content="{{ $description }}">
<meta property="twitter:description" content="{{ $description }}">
<link rel="canonical" href="{{ $canonical }}">
<meta property="og:url" content="{{ .Page.Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:image" content="{{ $image | relURL | absURL }}">
<meta property="twitter:image" content="{{ $image | relURL | absURL }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="robots" content="{{ $robots }}" />
