@charset "utf-8";

@import "theme/markdown.scss";

.container {
  @extend .px-5;
}

.tile:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  @extend .has-background-light;
}

.card:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  @extend .has-background-light;
}

.is-full-bg-image {
   background-position: center center;
   background-size: cover;
}

.is-flex-justify-end {
  justify-content: flex-end !important;
}

.is-flex-justify-center {
  justify-content: center !important;
}

.tags:hover .tag {
  @extend .has-background-link;
  @extend .has-text-white-ter;
}

.is-narrow-tag {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}

.show-element-parent:hover .show-element-child {
  display: inline-flex !important;
}

.show-element-child {
  display: none !important;
}

a.navbar-item:hover,
a.navbar-item:focus {
  background-color: unset !important;
}

.navbar-menu {
  background-color: unset !important;
}

nav {
  @extend .py-3;
}

.has-hover-text-light,
.has-hover-text-light:hover,
.has-hover-text-light:focus {
  color: $light !important;
}

.has-hover-text-dark,
.has-hover-text-dark:hover,
.has-hover-text-dark:focus {
  color: $dark !important;
}

.is-underline-link:hover,
.is-underline-link:focus {
  text-decoration: underline !important;
}

.mt-1-negative {
  margin-top: -$size-1 !important;
}
