{{ $author := .Params.Author }}
{{ if or (eq $author nil) (eq $author "") }}
  {{ $author = .Site.Params.Author }}
{{ end }}

<div class="columns">
  <div class="column is-half">
    <p><span class="icon"><i class="fa fa-calendar"></i></span> <time datetime="{{ .Date.Format "2006-1-2" }}">{{ .Date.Format "2006.01.02" }}</time></p>
    {{ if and (ne $author nil) (ne $author "") }}<p><span class="icon"><i class="fa fa-user"></i></span> {{ $author }}</p>{{ end }}
  </div>
  <div class="column is-half">
    {{ partial "taxonomy/taglist.html" .Params.Tags }}
  </div>
</div>
