{{ $wordCount := .Content | countwords }}
{{ $wordsPerMinute := .Site.Params.wordsPerMinute}}
{{ if eq "" $wordsPerMinute }}
  {{ $wordsPerMinute = 200.0 }}
{{ end }}
{{ $readTime := math.Round (div $wordCount $wordsPerMinute) }}

{{ if ge $readTime 1 }}
<div class="columns mt-1-negative">
  <div class="column is-full has-text-right has-text-grey">
    <p>
       {{ $wordCount }} words | {{ $readTime }} minute{{ if gt $readTime 1 }}s{{ end }}
    </p>
  </div>
</div>
{{ end }}
