<div class="tile py-3 is-12 has-background-white has-text-black columns">
  <a class="column is-three-fifths" href="{{ .Permalink }}">
    <div class="title is-4">{{ if eq .Type "tips" }}<span class="icon is-medium has-text-grey-dark"><i class="fa fa-clock-o"></i></span> {{ end }}{{ .Title }}</div>
    <div class="subtitle is-6">{{ .Params.Subtitle }}</div>
  </a>
  <div class="column has-text-right">
    <time datetime="{{ .Date.Format "2006-1-2" }}">{{ .Date.Format "2006.01.02" }}<span class="icon"><i class="fa fa-calendar"></i></span></time>
    {{ partial "taxonomy/taglist.html" .Params.Tags }}
  </div>
</div>
