{{ $lang := .Page.Params.Lang }}
{{ if or (eq $lang nil) (eq $lang "") }}
  {{ $lang = .Site.Params.Lang }}
{{ end }}

<!DOCTYPE html>
<html lang="{{ $lang }}">
    {{- partial "head/head.html" . -}}
    <body>
        {{- block "header" . }}{{- end }}
        <div class="container">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "analytics.html" . }}
    </body>
</html>

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}
