@charset "utf-8";

.markdown {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.1em;

  h1 {
    @extend .title, .is-1;
  }
  h2 {
    @extend .subtitle, .is-2;
  }
  h3, h4, h5, h6 {
    @extend .subtitle;
    font-size: 1.4em;
  }
  p {
    @extend .my-5;
  }
  ul {
    list-style: unset !important;
  }
  li {
    @extend .ml-5;
  }
  li::marker {
    @extend .has-text-primary;
    @extend .mr-6;
  }
  blockquote {
    @extend .message-body;
    @extend .is-italic;
    @extend .has-background-light;
    border-color: $primary;
  }

  .message-header {
    @extend .px-5;
  }
}
