<div class="control">
  <a class="tags has-addons" href="{{ "/tags/" | relURL }}{{ .TagName | urlize }}">
    <span class="tag has-background-grey-darker is-narrow-tag"></span>
    <span class="tag is-primary">{{ .TagName }}</span>
  </a>
</div>
