<div class="column is-6">
  <a class="show-element-parent tags has-addons is-flex-justify-center" href="{{ "/tags/" | relURL }}{{ .TagName | urlize }}">
    <span class="tag is-large show-element-child">len(</span>
    <span class="tag is-large is-primary">{{ .TagName }}</span>
    <span class="tag is-large show-element-child">)</span>
    <span class="tag is-large show-element-child">{{ .Tag.Count }}</span>
  </a>
</div>
