<div class="message {{ with .Get "type" }}is-{{ . }}{{ end }}">
  {{ with .Get "title"}}
  <span class="message-header">{{ . }}</span>
  {{ end }}
  <div class="message-body">
    {{ .Inner | markdownify }}
  </div>
</div>
