{{ define "main" }}

<div class="markdown">
  {{ .Content }}
</div>

<div class="mt-2 columns is-multiline">
{{ range $key, $value := .Data.Terms }}
  {{ partial "taxonomy/tagwithlen.html" (dict "Tag" $value "TagName" $key) }}
{{ end }}
</div>

{{ end }}
