<div class="columns is-vcentered my-6">
  {{ with .Get "image" }}
  <div class="column is-one-third">
    <figure class="image mx-6">
      <img class="is-rounded" src="{{ . | relURL }}">
    </figure>
  </div>
  {{ end }}
  <div class="column mx-6">
    {{ with .Get "title" }}
    <h2 class="title" id="{{ . | safeURL }}">
      <a href="#{{ . | safeURL }}">#</a> {{ . }}
    </h2>
    {{ end }}
    <div class="markdown">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>
