{{ $fgColour := .Params.NavFg }}
{{ if or (eq $fgColour "") (eq $fgColour nil) }}
  {{ $fgColour = "dark"}}
{{ end }}

<nav class="navbar {{ if .Params.NavBg }}has-background-{{ .Params.NavBg }}{{ end }}" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ "/" | relURL }}" class="navbar-item is-underline-link has-hover-text-{{ $fgColour }}">
        {{ .Site.Title }}
      </a>

      <a role="button" class="navbar-burger burger is-underline-link has-hover-text-{{ $fgColour }}" aria-label="menu" aria-expanded="false" data-target="mainHeaderNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainHeaderNavbar" class="navbar-menu {{ if .Params.NavBg }}has-background-{{ .Params.NavBg }}{{ end }}" {{ if .Params.NavBg }}style="background-image: unset;"{{ end }}>
      <div class="navbar-end">
        {{ range .Site.Data.nav.navitems.navitems }}
          <a href="{{ .link | relURL }}" class="navbar-item is-underline-link has-hover-text-{{ $fgColour }}">
            {{ .name }}
          </a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
