{{ $pag := .Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" class="pagination-previous" {{ if not $pag.HasPrev }}disabled{{ end }}>Previous</a>
  <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" class="pagination-next" {{ if not $pag.HasNext }}disabled{{ end }}>Next page</a>
  <ul class="pagination-list">
    {{ range $pag.Pagers }}
    <li><a href="{{ .URL }}" class="pagination-link {{ if eq . $pag }}is-current{{ end }}" aria-label="Goto page {{ .PageNumber }}">{{ .PageNumber }}</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}
