{{/* Check analytics field is set to true */}}
{{ if eq true .Site.Params.Analytics.AnalyticsEnabled }}

{{/* Check Count URL is populated */}}
{{ if ge (len .Site.Params.Analytics.GoatcounterCountUrl) 1 }}

{{/* Check JS URL is populated */}}
{{ if ge (len $.Site.Params.Analytics.GoatcounterJsUrl) 1 }}
<div class="container has-text-centered mb-4">
  <p class="">Analytics provided by <a href="https://www.goatcounter.com">GoatCounter</a> - A privacy-friendly website analytics tool</p>
</div>
<script data-goatcounter="{{ .Site.Params.Analytics.GoatcounterCountUrl }}"
        async src="{{ .Site.Params.Analytics.GoatcounterJsUrl }}"></script>
{{ end }}
{{ end }}
{{ end }}
