<footer class="footer mt-6">
  <div class="container">
    <p><span class="has-text-weight-bold">Lucid</span> theme for <a href="https://gohugo.io">Hugo</a> by <a href="https://gitlab.com/hectorjsmith">hectorjsmith</a></p>
    <hr>
    <p class="is-italic">Page built with <a href="https://gohugo.io">Hugo</a> and <a href="https://bulma.io">Bulma CSS</a></p>
    <p class="is-italic">Source code available on <a href="https://gitlab.com/hectorjsmith">GitLab</a> (MIT license)</p>
  </div>
</footer>
