{{ define "h1-and-h2" }}
<h1 class="title {{ if .Params.Hero.TitleFg }}has-text-{{ .Params.Hero.TitleFg }}{{ end }}">
  {{ .Title }}
</h1>
{{ if .Params.Subtitle }}
<h2 class="subtitle {{ if .Params.Hero.TitleFg }}has-text-{{ .Params.Hero.TitleFg }}{{ end }}">
  {{ .Params.Subtitle }}
</h2>
{{ end }}
{{ end }}

{{ define "title-container" }}
<div class="container my-6 has-text-centered">
  {{- block "h1-and-h2" . }}{{- end }}
  <hr>
</div>
{{ end }}

{{ define "credits" }}
  {{ $creditName := .Params.FeatureImg.Credit }}
  {{ $creditUrl := .Params.FeatureImg.Source }}
  {{ $creditUrlSet := and (ne $creditUrl nil) (ne $creditUrl "") }}
  {{ $creditNameSet := and (ne $creditName nil) (ne $creditName "") }}

  {{ if $creditUrlSet }}
  <a href="{{ $creditUrl }}">
  {{ end }}

    {{ if $creditNameSet }}
      <span class="has-text-grey-lighter is-italic is-size-6">{{ $creditName }}</span>
    {{ end }}

    {{ if and $creditNameSet $creditUrlSet }}
    <span class="icon is-large has-text-white"><i class="fa fa-link"></i></span>
    {{ end }}

  {{ if $creditUrlSet }}
  </a>
  {{ end }}
{{ end }}

{{ $hero := .Params.Hero }}
{{ $useHeroImage := .Params.Hero.Image.Show }}
{{ $heroImageUrl := .Params.Hero.Image.Url }}
{{ if or (eq $heroImageUrl nil) (eq $heroImageUrl "") }}
  {{ $heroImageUrl = .Params.FeatureImg.Url }}
{{ end }}

{{ if $hero }}
  <section class="hero mb-6 is-bold is-{{ $hero.Size }} {{ if $hero.Background }}is-{{ $hero.Background }}{{ end }} {{ if $useHeroImage }}is-full-bg-image{{ end }}" {{ if $useHeroImage }}style="background-image: url({{ $heroImageUrl | relURL }});"{{ end }}>
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      {{ partial "nav/nav.html" . }}
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      {{ if eq $hero.EmbedTitle true }}
      <div class="container has-text-centered">
        {{- block "h1-and-h2" . }}{{- end }}
      </div>
      {{ end }}
    </div>

    <div class="hero-footer">
      <div class="columns is-centered">
        <div class="column is-2"></div>
        <div class="column has-text-centered">
        {{ if eq $hero.Size "fullheight" }}
          <a onclick="scrollToIdSmoothly('fullheight-scroll-down')" class="icon is-large has-text-white"><i class="fa fa-chevron-down fa-lg"></i></a>
          {{ end }}
        </div>
        <div class="column is-2 has-text-right mr-3">
          {{ block "credits" . }}{{ end }}
        </div>
      </div>
    </div>
  </section>

  {{ if eq $hero.Size "fullheight" }}
  <span id="fullheight-scroll-down"></span>
  {{ end }}

  {{ if ne $hero.EmbedTitle true }}
  {{- block "title-container" . }}{{- end }}
  {{ end }}
{{ else }}
  {{ partial "nav/nav.html" . }}
  {{- block "title-container" . }}{{- end }}
{{ end }}
